<div th:fragment="contactmodal">




    <!-- Main modal -->
    <div id="view_contact_modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                <!-- Modal header -->
                <div class="p-4 border-b rounded-t dark:border-gray-600 border-gray-200 flex flex-col">
                    <h3 id="contact_name" class="text-xl font-semibold text-gray-900 dark:text-white"></h3>
                    <p  class="text-gray-600 dark:text-gray-300"><b>Email :</b> <span id="contact_email"></span></p>
                    <p  class="text-gray-600 dark:text-gray-300"><b>Id :</b> <span id="contact_id"></span></p>
                </div>
                 
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <img class="w-40 h-40 rounded-full" th:src="@{/images/default-profile.png}" alt="Contact Image" id="contact_image">
                    <p  class="text-gray-600 dark:text-gray-300"><b>About :</b> <span id="contact_desc"></span></p>
                    <p  class="text-gray-600 dark:text-gray-300"><b>Address :</b> <span id="contact_addr"></span></p>
                    <p  class="text-gray-600 dark:text-gray-300"><b>Phone :</b> <span id="contact_phone"></span></p>
                    <p  class="text-gray-600 dark:text-gray-300"><b>Date :</b> <span id="contact_date"></span></p>
                    <p  class="text-gray-600 dark:text-gray-300"><b>Facebook :</b> <span id="contact_fb"></span></p>
                    <p  class="text-gray-600 dark:text-gray-300"><b>Website :</b> <span id="contact_website"></span></p>
                    <p  class="text-gray-600 dark:text-gray-300"><b>Favourite :</b> <span id="contact_fav"></span></p>
                    
                     
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button onclick="closeContactModal()" data-modal-hide="default-modal" type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Close</button>
                    
                </div>
            </div>
        </div>
    </div>

</div>