<!DOCTYPE html>
<html lang="en" th:fragment="parent(dashboardcontent)" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Dashboard Page | Smart Contact Manager 2.0</title>
    <!-- common styles -->
    <div th:replace="styles :: commonstyles"></div>
</head>

<body>
    
        <div  th:replace="user/topheader :: topheader"></div>

        <div th:replace="user/userleftpanel :: userleftpanel"></div>

        
        <section th:replace="${dashboardcontent}"></section>

    <!-- common scripts -->
    <div th:replace="scripts :: commonscripts"></div>
</body>

</html>