<!DOCTYPE html>
<html lang="en" th:replace="~{/user/dashboard :: parent(~{::.dashboardcontent})} ">

<body>

    <div class="dashboardcontent p-4 sm:ml-64" style="margin-top: 4rem;">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Welcome back, <span style="color: red;" th:text="${loggedInUser.name}"></span>
        </h3>
        <h4 class="text-1xl font-semibold mb-4">Current Time : 
            <span id="time" class="text-sm text-blue-600"></span>
        </h4>
        

        <div class="bg-white overflow-hidden shadow rounded-lg border">
            
            <div class="px-4 py-5 ">
                
                
                  <img class="h-auto max-w-full" th:src="${loggedInUser.profilePicture}" alt="image description">
                <!-- <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    This is some information about the user.
                </p> -->
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y sm:divide-gray-200">
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            User ID
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <span data-th-text="${loggedInUser.userId}"></span>
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Full name
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <span data-th-text="${loggedInUser.name}"></span>
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Email address
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <span data-th-text="${loggedInUser.email}"></span>
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Your Current Role
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <span th:each="role : ${loggedInUser.role}" th:text="${role}"></span>
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Phone number
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <span data-th-text="${loggedInUser.contact}"></span>
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Address
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <!-- 123 Main St<br>
                             Anytown, USA 12345 -->
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            About
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <span data-th-text="${loggedInUser.about}"></span>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div> 

    
</body>
</html>