<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
</head>
<body>
    <!-- common header -->
    <div>
        <ul class="p-4">
            <li>
                <a th-href="@{'/home'}">Home</a>
            </li>
            <li>
                <a th-href="@{'/services'}">Services</a>
            </li>
            <li>
                <a th-href="@{'/about'}">About</a>
            </li>
        </ul>
    </div>
    <!-- main dynamic content -->
    <div class="text-center text-3xl p-4">
        <section data-th-replace="${content}"></section>
    </div>

    <!-- common footer -->
    <footer class="p-4">
        Footer: Smart Contact Manager 2.0
    </footer>
</body>
</html>