<!DOCTYPE html>
<html class="light" lang="en" th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
     <!-- common styles -->
     <div th:replace="styles :: commonstyles"></div>
</head>
<body  >
    <!-- common header -->
    <div th:replace="navbar :: navbar">

    </div>
    <!-- main dynamic content -->
    <div class="p-4 h-screen w-full dark:bg-gray-900">
        <section data-th-replace="${content}"></section>
    </div>

    <!-- common footer -->
    <!-- <div th:replace="footer :: footer"> -->

    </div>

    <!-- common scripts -->
    <div th:replace="scripts :: commonscripts"></div>
</body>
</html>