<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::.content},~{::title})}">

<head>
    <title>Login Page | Smart Contact Manager 2.0</title>
</head>

<body>
    <div class="content">
        <div class="grid grid-cols-12" style="margin-top: 5rem;">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <!-- Error Toast -->
                <div style="margin-left: 20%;" th:if="${session.message != null and session.message.type.name == 'red'}"
                    id="toast-error"
                    class="flex items-center w-full max-w-xs p-4 text-red-500 bg-white rounded-lg shadow-sm dark:text-red-400 dark:bg-red-800"
                    role="alert">
                    <div
                        class="inline-flex items-center justify-center shrink-0 w-8 h-8 bg-red-100 text-red-500 rounded-lg dark:bg-red-700 dark:text-red-200">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z" />
                        </svg>
                    </div>
                    <div class="ml-3 text-sm font-normal" th:text="${session.message.content}"></div>
                    <button type="button" onclick="this.parentElement.style.display='none'"
                        class="ml-auto text-gray-400 bg-white rounded-lg p-1.5 focus:ring-2 focus:ring-gray-300 dark:text-gray-500 dark:hover:text-white dark:bg-red-800 dark:hover:bg-red-700">
                        <span class="sr-only">Close</span>
                        <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1l6 6m0 0l6 6m-6-6l6-6m-6 6l-6 6" />
                        </svg>
                    </button>
                </div>
                  <!-- after printing message we are removing message from session, so that when you refresh page it will
                    not print message again -->
                    <th:block th:text="${@sessionHelper.removeMessage()}"></th:block>

                <!-- login error message -->
                <div th:if="${param.error}" id="toast-danger"
                    class="flex items-center w-full max-w-xs-96 p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
                    role="alert">
                    <div
                        class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z" />
                        </svg>
                        <span class="sr-only">Error icon</span>
                    </div>
                    <div class="ms-3 text-sm font-normal "> Invalid username and password..</div>
                    <button type="button"
                        class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                        data-dismiss-target="#toast-danger" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>

                <!-- logged out successfully -->
                <div th:if="${param.logout}" id="toast-success"
                    class="flex items-center w-full max-w-xs-96 p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
                    role="alert">
                    <div
                        class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        <span class="sr-only">Check icon</span>
                    </div>
                    <div class="ms-3 text-sm font-normal">Logged out successfully.</div>
                    <button type="button"
                        class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                        data-dismiss-target="#toast-success" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>
                <!-- 6 ki spance le rhi hai -->
                <!-- card -->
                <div
                    class="block p-6 border-t-[10px] border-green-700 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700">
                    <!-- message here -->


                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Login Here
                    </h5>







                    <form th:action="@{/authenticate}" method="POST" class="max-w-md mx-auto">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="email" name="email" id="email"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " />
                            <label for="floating_email"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                                address</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="password" name="password" id="password"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " />
                            <label for="floating_password"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                        </div>

                        <div class="flex justify-center space-x-4">

                            <button type="submit"
                                class=" mt-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Submit</button>
                            <button type="reset"
                                class="mt-2 text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">Reset</button>
                        </div>



                        <div class="flex justify-center mt-4">
                            <button type="button"
                                class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-xs px-3 py-1.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                                    viewBox="0 0 100 100">
                                    <path
                                        d="M52,96C27.738,96,8,76.262,8,52S27.738,8,52,8c11.018,0,21.562,4.095,29.689,11.529 c1.264,1.155,2.033,2.803,2.106,4.518c0.073,1.712-0.55,3.418-1.71,4.68l-8.528,9.269l15.189-0.003 c3.079,0,5.758,2.189,6.371,5.205C95.703,46.081,96,49.043,96,52C96,76.262,76.262,96,52,96z"
                                        opacity=".35"></path>
                                    <path fill="#f2f2f2"
                                        d="M50,94C25.738,94,6,74.262,6,50S25.738,6,50,6c11.018,0,21.562,4.095,29.689,11.529 c1.264,1.155,2.033,2.803,2.106,4.518c0.073,1.712-0.55,3.418-1.71,4.68l-8.528,9.269l15.189-0.003 c3.079,0,5.758,2.189,6.371,5.205C93.703,44.081,94,47.043,94,50C94,74.262,74.262,94,50,94z">
                                    </path>
                                    <path fill="#f9b84f"
                                        d="M86.697,42.747h-3.022v-0.156h-33.77V57.6H71.11c-3.094,8.737-11.407,15.009-21.206,15.009 c-12.433,0-22.513-10.08-22.513-22.513s10.08-22.513,22.513-22.513c5.739,0,10.96,2.165,14.936,5.702L75.454,22.67 c-6.702-6.246-15.666-10.097-25.549-10.097c-20.722,0-37.522,16.801-37.522,37.522s16.801,37.522,37.522,37.522 s37.522-16.801,37.522-37.522C87.427,47.58,87.168,45.124,86.697,42.747z">
                                    </path>
                                    <path fill="#f4665c"
                                        d="M16.708,32.631l12.328,9.041c3.336-8.259,11.414-14.09,20.868-14.09 c5.739,0,10.96,2.165,14.936,5.702L75.454,22.67c-6.702-6.246-15.666-10.097-25.549-10.097 C35.492,12.573,22.993,20.71,16.708,32.631z">
                                    </path>
                                    <path fill="#96c362"
                                        d="M49.904,87.618c9.692,0,18.499-3.709,25.157-9.741L63.448,68.05 c-3.767,2.854-8.45,4.559-13.544,4.559c-9.76,0-18.046-6.223-21.168-14.908L16.5,67.129C22.71,79.28,35.321,87.618,49.904,87.618z">
                                    </path>
                                    <path fill="#2785bd"
                                        d="M86.697,42.747h-3.022v-0.156h-33.77V57.6H71.11c-1.486,4.197-4.186,7.816-7.668,10.452 c0.002-0.002,0.004-0.002,0.006-0.004l11.613,9.827c-0.822,0.747,12.366-9.019,12.366-27.78 C87.427,47.58,87.168,45.124,86.697,42.747z">
                                    </path>
                                    <path fill="none" stroke="#40396e" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-miterlimit="10" stroke-width="3"
                                        d="M86.747,42.492L49.5,42.5v15h21.715c-3.089,8.738-11.419,15-21.215,15c-12.426,0-22.5-10.074-22.5-22.5 c0-12.426,10.074-22.5,22.5-22.5c5.834,0,11.149,2.221,15.147,5.862l10.155-11.038C68.632,16.224,59.751,12.5,50,12.5 c-20.711,0-37.5,16.789-37.5,37.5S29.289,87.5,50,87.5S87.5,70.711,87.5,50C87.5,47.429,87.24,44.918,86.747,42.492z">
                                    </path>
                                </svg>
                                <a th:href="@{'/oauth2/authorization/google'}">Sign in with Google</a>
                            </button>
                        </div>
                        <div class="flex justify-center mt-4">
                            <button type="button"
                                class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-xs px-3 py-1.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2">
                                
                                <a th:href="@{'/oauth2/authorization/github'}">Sign in with Github</a>
                            </button>
                        </div>
                    </form>





                </div>

            </div>
        </div>
    </div>
    </div>
</body>

</html>