<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::.content},~{::title})}">

<head>
    <title>Signup Page | Smart Contact Manager 2.0</title>
</head>

<body>
    <div class="content">
        <div class="grid grid-cols-12" style="margin-top: 5rem;">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <div
                    class="block p-6 border-t-[10px] border-green-700 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700">

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Signup Here
                    </h5>

                    <!-- Message box -->
                    <div th:replace="message :: message-box"></div>

                    <form class="max-w-md mx-auto" th:action="@{/public/do-register}" method="POST"
                        th:object="${signupFormDto}">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" th:field="*{name}" id="name"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder="" />
                            <label for="name"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>

                            <!-- Error message -->
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-600 px-1 py-2">
                                Name is required
                            </p>

                        </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <input type="email" th:field="*{email}" id="email"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder="" />
                            <label for="email"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
                            <!-- Error message -->
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-600 px-1 py-2">
                                Name is required
                            </p>
                            </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <input type="password" th:field="*{password}" id="password"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder="" />
                            <label for="password"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                            <!-- Error message -->
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-red-600 px-1 py-2">
                                Password is required
                            </p>
                            </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" th:field="*{contact}" id="contact"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder="" />
                            <label for="contact"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6">Contact</label>
                        <!-- Error message -->
                        <p th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}" class="text-red-600 px-1 py-2">
                            Contact is required
                        </p>
                            </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <textarea th:field="*{about}" id="about" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter about yourself"></textarea>
                        </div>
                        <!-- Error message -->
                        <p th:if="${#fields.hasErrors('about')}" th:errors="*{about}" class="text-red-600 px-1 py-2">
                            Name is required
                        </p>
                        <button type="submit"
                            class="mt-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Submit</button>
                        <button type="reset"
                            class="mt-2 text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>